body {
  line-height: 1.6;
  font-family: "Gill Sans", sans-serif;
  font-weight: 800;
}

.header {
  width: 90%;
  margin: 2em auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5] 60px 150px;
      grid-template-columns: repeat(5, 1fr) 60px 150px;
}

h2 {
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
  font-weight: 850;
}

input[type=button] {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
  font-weight: 700;
  margin: auto 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #c8c8c8;
          box-shadow: 0 0 15px #c8c8c8;
}

input[id=delete-product-btn] {
  background-color: red;
}

input[name=Cancel] {
  background-color: #c8c8c8;
}

hr {
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(4, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
  grid-gap: 2em;
}

@media (min-width: 50em) {
  .grid-container {
    -ms-grid-columns: (minmax(24em, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  }
}

div.product {
  border: 3px solid gray;
  padding: 2% 3% 15% 3%;
  -webkit-box-shadow: 0 0 20px #c8c8c8;
          box-shadow: 0 0 20px #c8c8c8;
}

.prod_form {
  width: 85%;
  margin: 0 auto;
  font-weight: 650;
}

div[id=product_info] p {
  font-weight: 500;
  text-align: left;
  margin: 0;
}

small {
  font-weight: 200;
  color: orangered;
}

.footer {
  margin: 3em auto 0;
  width: 90%;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  margin: 0.5em;
}
/*# sourceMappingURL=style.css.map */